nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;

}
nav ul{
display: flex;
align-items: center;

}
nav li{
text-decoration: none;
list-style: none;
}
nav li a{
list-style: none;
text-decoration: none;
margin-right: 20px;


}
.title{
color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: n

}